*{
    font-family: 'IBM Plex Sans', sans-serif;
}
::selection{
    background-color: rgba(0, 150, 255, .5);
    color: white;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: grey; 
}
::-webkit-scrollbar-thumb:hover {
    background: lightslategrey; 
}
body{
    margin: 50px;
}
body.darkMode{
    background-color:#23272a;
}
.body{
    display: block;
    float: left;
    margin-left: 30px;
    width: calc(85% - 200px);
    padding-left: 200px;
}
h1{
    font-size: 60px;
    border-bottom: 25px solid rgba(0, 150, 255, .5);
    width: fit-content;
    line-height: 25px;
    margin: 50px 0;
    font-style: italic;
}
.page-desc{
    font-size: 25px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    font-style: italic;
    border-bottom: 10px solid rgba(0, 150, 255, .3);
    width: fit-content;
    line-height: 10px;
    margin-top: 60px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
.darkMode{
    color: white;
}
.nav{
    float: left;
    width: 200px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: fixed;
}
.nav a{
    margin-bottom: 10px;
    font-size: 20px;
    color: black !important;
}
.nav a.darkMode{
    color: white !important;
}
.nav a:hover{
    background: lightgrey;
}
code{
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    width: 90%;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Courier Prime', monospace;
}
code.darkMode{
    background-color: rgb(60,60,60);
}
a{
    text-decoration: none;
    color: rgb(0, 150, 255) !important;
}
a:hover{
    font-weight: lighter;
}
table{
    width: 100%;
    text-align: left;
    font-size: 20px;
}
th{
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
td{
    padding-bottom: 10px;
    padding-left: 10px;
}
hr{
    width: 50%;
}